
.token-owner {

    .select-owner {
        border: 1px solid lightgrey;
        border-radius: 4px;
        background-color: var(--bg-color);
        max-width: 45px;
        height: 20px;
        color: white;
    }
}
